extends layouts/main 

block content
  .video-detail__container
    .video__player
      video(src=`/${video.fileUrl}`, controls=true)
    .video__info
      if loggedUser && (video.creator.id === loggedUser.id)
        button
          a(href=`${routes.videos}${routes.editVideo(video.id)}`) Edit video
      h5.video__title= video.title
      a(href=`${routes.users}${routes.userDetail(video.creator.id)}`).video__creator Uploaded by #{video.creator.name}
      if video.views === 1
        span.video__views 1 view
      else
        span.video__views #{video.views} views
      p.video__description= video.description
    .video__comments
      //- comment 1개일때의 단수처리를 위해 if문 처리
      if (video.comments.length === 1) 
        p.video__comments-number 1 comment 
      else
        p.video__comments-number #{video.comments.length} comments